---
---

<header class="header">
	<div class="container">
		<div class="logo">
			<a href="/">
				<img src="/images/LogoCompleto.svg" alt="Construcciones Silva Baron" />
			</a>
		</div>
		<nav class="nav">
			<ul>
				<li><a href="#inicio">Inicio</a></li>
				<li><a href="#nosotros">Nosotros</a></li>
				<li><a href="#proyectos">Proyectos</a></li>
				<li><a href="#servicios">Servicios</a></li>
				<li><a href="#testimonios">Testimonios</a></li>
				<li><a href="#contacto" class="btn-contacto">Contacto</a></li>
			</ul>
		</nav>
	</div>
</header>